body
{
    background:rgb(0, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.eagle_pictures
{
    display: flex;
    flex-wrap: wrap;
}

.eagle_pictures
{
    width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: gray;
    border-radius: 5px;
    box-shadow: 5px 8px white;
}

.eagle_pictures img
{
    width: 200px;
    height: 200px;
    border: 2px  solid black;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

h1
{
    color: white;
    text-align: center;
}

a
{
    text-decoration:none;
    color: white;
}

.eagle_pictures a:hover
{
    color: red;
}
